*/hybas_na_lev03_v1c.*
*/HydroRIVERS_v10_na_shp/HydroRIVERS_v10_na.*
*/*.geojson
*/*.zip
*/*.shp
*/*.dbf
R/py/hybas_na_lev03_v1c.*
HydroRIVERS_v10_na_shp/*
us-river-basins.geojson
hybas_na_lev03_v1c.*
R/py/HydroRIVERS_v10_na_shp/HydroRIVERS_v10_na.*
sa/HydroRIVERS_v10_sa_shp/HydroRIVERS_v10_sa.*
sa/hybas_sa_lev03_v1c.*
*.zip
*.pdf
*.sbn
*.shp
*.sbx
*.shx
*.prj
*.dbf
*.xml
